In [1]:
import pandas as pd #importing pasndas

In [1]:
!pip install mysql.connector

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=0e46f95122bb804f242a77d1fd92ecfbf09b938deea0534191654e1e5a1c0406
  Stored in directory: c:\users\gaurav pathak\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [2]:
import mysql.connector

In [3]:
con=mysql.connector.connect(host="localhost",user="root",password="",database="world")

In [4]:
pd.read_sql_query("select * from city",con)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [ ]:
pd.read_sql_query("select * from city where ",con)

# UNDERSTANDING YOUR DATA

In [37]:
df=pd.read_csv("C:\\Users\\Gaurav Pathak\\OneDrive\\Desktop\\Python dataset\\bollywood_full.csv")

# HOW BIG IS THE DATA?

In [38]:
df.shape

(4330, 18)

# HOW DOES DATA LOOK LIKE?

In [39]:
df.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112.0,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73.0,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549.0,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891.0,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280.0,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [41]:
df.sample(5)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
4095,Masoom (1960 film),tt0147036,NaN,https://en.wikipedia.org/wiki/Masoom_(1960_film),Masoom,Masoom,0,1960,\N,Drama,7.2,16.0,NaN,Add a PlotÂ Â»,NaN,Sarosh Irani|Aziz|Honey Irani|Ashok Kumar|Manm...,NaN,NaN
4320,Bawre Nain,tt0042233,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Bawre_Nain,Bawre Nain,Bawre Nain,0,1950,138,Drama|Romance,6.7,27.0,Chand lives in a small rural town in India. He...,Chand lives in a small rural town in India. He...,NaN,Raj Kapoor|Geeta Bali|Vijayalaxmi|Jaswant|Pesi...,NaN,NaN
1897,Shapath,tt0251395,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Shapath,Shapath,Shapath,0,1997,140,Action,5.5,74.0,Inspector Kishan lives a middle-class lifestyl...,Inspector Kishan lives a middle-class lifestyl...,NaN,Mithun Chakraborty|Vineeta|Jackie Shroff|Ramya...,NaN,NaN
2806,Laila (1984 film),tt0087586,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Laila_(1984_film),Laila,Laila,0,1984,\N,Musical|Romance,4.5,29.0,Bitter hatred had always existed between two R...,Bitter hatred had always existed between two R...,NaN,Sunil Dutt|Poonam Dhillon|Anil Kapoor|Pran|Ani...,NaN,NaN
3060,Ek Baar Kaho,tt0340091,https://upload.wikimedia.org/wikipedia/en/c/ca...,https://en.wikipedia.org/wiki/Ek_Baar_Kaho,Ek Baar Kaho,Ek Baar Kaho,0,1980,142,Drama|Family|Romance,6.9,34.0,Ravi Varma is a single eligible bachelor. He m...,Ravi Varma is a single eligible bachelor. He m...,NaN,Navin Nischol|Shabana Azmi|Dilip Dhawan|Kiran ...,NaN,3 September 1980 (India)

# WHAT IS THE DATATYPE OF COLS?

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4330 entries, 0 to 4329
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           4330 non-null   object
 1   imdb_id           4330 non-null   object
 2   poster_path       3580 non-null   object
 3   wiki_link         4330 non-null   object
 4   title_y           4330 non-null   object
 5   original_title    4330 non-null   object
 6   is_adult          4330 non-null   int64
 7   year_of_release   4330 non-null   object
 8   runtime           4330 non-null   object
 9   genres            4330 non-null   object
 10  imdb_rating       4317 non-null   float64
 11  imdb_votes        4317 non-null   float64
 12  story             4065 non-null   object
 13  summary           4329 non-null   object
 14  tagline           685 non-null    object
 15  actors            4320 non-null   object
 16  wins_nominations  1344 non-null   object
 17  release_date      3049 non-null   object
dtypes: float64(2), int64(1), object(15)
memory usage: 609.0+ KB

# ARE THERE ANY MISSING VAALUES

In [44]:
df.isnull().sum()

title_x                0
imdb_id                0
poster_path          750
wiki_link              0
title_y                0
original_title         0
is_adult               0
year_of_release        0
runtime                0
genres                 0
imdb_rating           13
imdb_votes            13
story                265
summary                1
tagline             3645
actors                10
wins_nominations    2986
release_date        1281
dtype: int64

# How does data look mathematically?

In [45]:
df.describe()

       is_adult  imdb_rating     imdb_votes
count    4330.0  4317.000000    4317.000000
mean        0.0     5.911744    2387.874913
std         0.0     1.330077    9404.126400
min         0.0     0.000000       0.000000
25%         0.0     5.100000      32.000000
50%         0.0     6.100000     131.000000
75%         0.0     6.900000     966.000000
max         0.0     9.400000  310481.000000

# Is there any duplicate values?

In [48]:
df.duplicated().sum()

0

# How is the correlation between cols?

In [49]:
df.corr()

             is_adult  imdb_rating  imdb_votes
is_adult          NaN          NaN         NaN
imdb_rating       NaN     1.000000    0.216113
imdb_votes        NaN     0.216113    1.000000

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [32]:
df=pd.read_csv("C:\\Users\\Gaurav Pathak\\OneDrive\\Desktop\\Python dataset\\bollywood_full.csv",usecols=['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime'])

In [33]:
df.shape

(4330, 9)

In [42]:
df.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/URI_-_New_poster.jpg/220px-URI_-_New_poster.jpg,https://en.wikipedia.org/wiki/Uri:_The_Surgical_Strike,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thumb/a/a1/The_Accidental_Prime_Minister_film.jpg/220px-The_Accidental_Prime_Minister_film.jpg,https://en.wikipedia.org/wiki/The_Accidental_Prime_Minister_(film),The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/Why_Cheat_India_poster.jpg/220px-Why_Cheat_India_poster.jpg,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102

In [43]:
df.drop(labels=['title_x','imdb_id','poster_path','wiki_link','original_title'],axis=1,inplace=True)

In [44]:
df.columns

Index(['title_y', 'is_adult', 'year_of_release', 'runtime'], dtype='object')

In [47]:
df2=pd.read_csv("C:\\Users\\Gaurav Pathak\\OneDrive\\Desktop\\Python dataset\\bollywood_full.csv",usecols=['genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'])

In [45]:
df2.columns

Index(['genres', 'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline',
       'actors', 'wins_nominations', 'release_date'],
      dtype='object')

In [53]:
df2.drop(labels=['story','summary','tagline','actors'],axis=1,inplace=True)

In [54]:
df2.shape

(4330, 5)

In [58]:
df2.sample(4)

,genres,imdb_rating,imdb_votes,wins_nominations,release_date
204,Drama|Romance,4.4,196.0,NaN,14 July 2017 (India)
2487,Drama|Thriller,7.3,60.0,2 nominations,NaN
3355,Drama|Romance,8.2,1254.0,3 wins & 3 nominations,13 February 1975 (India)
3223,Drama|Romance,7.1,873.0,2 wins & 1 nomination,22 March 1978 (India)